@model IEnumerable<QuanLiSua.Models.SuaModel>

@{
    ViewBag.Title = "Thông tin sản phẩm";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body" style="margin: auto;    background-color: #fff0;">

        @foreach (var item in Model)
        {
            <div>
                <div>
                    <h3 class="ml-4">   @item.TenSua</h3>
                </div>
                <div style="display: inline-flex">
                    <div>
                        <img src="~/@item.HinhAnhBia" width="300" style="border: solid #e8e8e8 3px; border-radius:10px" />
                    </div>
                    <div class="about" style="margin-left: 50px">
                        <h5 style=" width: 200px; line-height: 2">
                            Tên hãng sản xuất :  <br />
                            @item.HangSX.TenHangSX
                        </h5>
                    </div>

                    <div class="about">
                        <h5 style=" width: 400px; line-height: 2">
                            Chi tiết sản phẩm :  <br />
                            @item.MoTa
                        </h5>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


