@model IEnumerable<QuanLiSua.Models.DatHang_ChiTiet>
@{
    ViewBag.Title = "Đơn chi tiết";
}

<div class="card mt-3 shadow border border-info">
    <h5 class="card-header bg-info text-white text-center font-weight-bold mt-3">@ViewBag.Title</i></h5>
    <div class="card-body">
        <div class="card-deck">
        @foreach (var item in Model)
        {
            // truy xuất giữa các bảng
            <div class="col-12">
                <div class="row mt-3">
                    <img src="~/@item.Sua.AnhMau" / width="10" class="col-4 mt-3">
                    <div class="card-body col-7">
                        <h5 class="text-center">Mã ID: @item.ID</h5>
                        <h5 class="font-weight-light">Mã Đặt hàng: @item.DatHang_ID</h5>
                        <hr />
                        <h5>Thông tin sản phẩm</h5>
                        <hr />
                        <h5 class="font-weight-light">Tên sản phẩm: @item.Sua.TenSua</h5>
                        <h5 class="font-weight-light">Ten hang sx: @item.Sua.HangSX.TenHangSX</h5>
                        <h5 class="font-weight-light">Ten loai: @item.Sua.LoaiSua.TenLoai</h5>
                   
                        <hr />
                        <h5>Thông tin hóa đơn</h5>
                        <hr />
                        <h5 class="font-weight-light">Đơn giá: @item.DonGia</h5>
                        <h5 class="font-weight-light">  Số lượng: @item.SoLuong</h5>
                        <hr />
                        <h5 class="font-weight-lighter text-right">Thành tiền: @item.DonGia</h5>
                    </div>
                </div>
            </div>
        }
</div>
