@model IEnumerable<QuanLiSua.Models.Sua>
@{
    ViewBag.Title = "Trang chủ";
}

<div class="card mt-3">
    <h5 class="card-header" style="background-color: #f4e0fc">@ViewBag.Title</h5>
    <div class="card-body">
        <div class="card-deck">
            @foreach (var item in Model)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card list-books h-100">
                        <img src="~/@item.AnhMau" class="card-img-top w-100 h-auto" alt="...">
                        <div class="card-body text-center ">
                            <h5 class="card-title">@item.TenSua</h5>
                            <p class="card-text">@item.DonGia đồng</p>

                        </div>
                        <div class="card-footer m-auto bg-white">
                            <a href="@Url.Action("ThemVaoGio","GioHang", new { maSP= item.ID})" class="btn btn-danger fas fa-cart-plus"> Giỏ hàng</a>
                            <a href="@Url.Action("ChiTiet","Home", new { ID = item.ID})" class="btn btn-info fas fa-eye"> Chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>