@model QuanLiSua.Models.DatHang_ChiTiet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatHang_ChiTiet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatHang.DienThoaiGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatHang.DienThoaiGiaoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sua.TenSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sua.TenSua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
